:root {
  --primary: #374785;
  --primary-dark: #24305e;
  --primary-light: #a8d0e6;
  --secondary: #ff7766;
  --contrast: #f8e9a7;
}
@font-face {
  font-family: Dosis;
  src: url(./assets/Dosis.ttf);
}
#root {
  margin: 0 auto;
  padding: 10px;
}

body {
  font-family: Dosis;
  background-color: #ffffff;
}

.navbar {
  background-color: #fff;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar .nav-item {
  margin: 0 5px;
  background-color: var(--primary-light);
  font-size: 17px;
  font-weight: bold;
  border-radius: 2px;
}
.navbar .nav-item.active,
.navbar .nav-item:hover {
  background-color: var(--secondary);
  transition: all 0.1s ease-in;
}

.navbar .nav-link {
  color: var(--primary-dark);
  margin: 0 5px;
  font-size: 17px;
  font-weight: 540;
}

.col-form-label {
  font-weight: 600;
}

.table-group-divider {
  font-size: 22px;
  font-weight: 500;
  color: var(--primary);
}

.navbar-brand {
  font-size: 40px;
  margin: 5px 20px;
  font-weight: 700;
  color: var(--primary);
}
